.table-content {
  text-align: center !important;
  padding: 10px 10px;
}

:host ::ng-deep .p-button {
  margin: 0 0.5rem 0 0;
  min-width: 10rem;
}

p {
  margin: 0;
}

.confirmation-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.titulo-detalhamento {
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.texto-detalhamento {
  text-align: center;
}

::ng-deep .p-dialog .p-dialog-header .p-dialog-title {
  font-size: 24px;
}

::ng-deep .p-dialog .p-dialog-content {
  padding: 0 1.5rem 2rem 1.5rem;
}

:host ::ng-deep .p-dialog .p-button {
  min-width: 6rem;
}

::ng-deep .p-datatable .p-datatable-thead > tr > th {
  padding: 10px !important;
}

::ng-deep .p-fluid .p-inputtext {
  padding: 0 !important;
}

:ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: center !important;
}

::ng-deep .p-datatable .p-sortable-column.p-highlight {
  background: #e9ecef;
  color: black;
}

::ng-deep .p-datatable .p-sortable-column.p-highlight:hover {
  background: #e9ecef;
  color: black;
}

:ng-deep .p-datatable .p-sortable-column:focus {
  box-shadow: inset 0 0 0 0.15rem #cbd3da;
  outline: 0 none;
}

::ng-deep .p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: black;
}

::ng-deep
  .p-datatable
  .p-sortable-column.p-highlight
  .p-sortable-column-icon:hover {
  color: black;
}

::ng-deep .p-datatable .p-sortable-column .p-sortable-column-badge {
  color: black;
}

::ng-deep .p-datatable .p-sortable-column .p-sortable-column-badge:hover {
  color: black;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #f8f9fa;
  border-color: #f8f9fa;
  color: black;
}

.ui-state-highlight > td {
  background: #e9ecef;
}
