body {
  background-color: #b3e5fc;
  border-radius: 10px;
}

.card {
  width: 600px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}

.profile-picture {
  border-radius: 50%;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.user-info {
  margin: 0 0 0 15px;
}

.stats {
  background: #f2f5f8 !important;
  width: 200px;
  justify-content: space-around;
  color: #000 !important;
}

.follow {
  font-size: 10px;
  color: #a1aab9;
}
.quantity {
  font-weight: 500;
}
